<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Diary Home{% endblock%}</title>

	<!-- Load fonts -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

	<!-- Load css styles -->
	<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../../static/css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="../../static/css/style.css" />
	<style>
	@keyframes rainbow-ani { 
		100% { 
			background-position: -1200px 0; 
		} 
	}
	.rainbow { 
		width: 200px; 
		height: 200px; 
		background: url("/static/img/loading.png") no-repeat 0 0 / auto 200px;
		animation: rainbow-ani 5s infinite steps(6);
		display: block;
		margin: 0px auto;
		margin-bottom: 15px;
	}
</style>
</head>
<body>
    {% block content %}
    {% if validity == 0 %}
    <div class="jumbotron home home-fullscreen" id="home" style="height: 714px;">
		<div class="mask"></div>
		<!-- <a href="index.html" class="logo">
			<img src="img/lightbulb.png" width=80px height=80px margin-left=10px alt="마음반짝이">
		</a> -->
		<a href="" class="menu-toggle" id="nav-expander"><i class="fa fa-bars"></i></a>
		<!-- Offsite navigation -->
		<nav class="menu">
			<a href="#" class="close"><i class="fa fa-close"></i></a>
			<h3>Menu</h3>
			<ul class="nav">
				<li><a data-scroll href="{% url 'home' %}">HOME</a></li>
				<li><a data-scroll href="{% url 'login' %}">DIARY</a></li>
				<li><a data-scroll href="{% url 'login' %}">MYPAGE</a></li>
				<li><a data-scroll href="{% url 'login' %}">LOGIN</a></li>
			</ul>
		</nav>
		<!-- <div class="container"> -->
			<div class="header-info">
				<!-- <h1>Moderno</h1> -->
				<div class="rainbow"></div>
				<p>마음반짝이
				</p>
				<a href="{% url 'login' %}" class="btn btn-primary">LOGIN</a>
			</div>
		<!-- </div> -->
	</div>
    <a href="{% url 'login' %}">로그인</a><br>
    <a href="{% url 'signup' %}">회원가입</a><br>
    {% else %}
	<div class="jumbotron home home-fullscreen" id="home" style="height: 714px;">
		<div class="mask"></div>
		<!-- <a href="index.html" class="logo">
			<img src="img/lightbulb.png" width=80px height=80px margin-left=10px alt="마음반짝이">
		</a> -->
		<a href="" class="menu-toggle" id="nav-expander"><i class="fa fa-bars"></i></a>
		<!-- Offsite navigation -->
		<nav class="menu">
			<a href="#" class="close"><i class="fa fa-close"></i></a>
			<h3>Menu</h3>
			<ul class="nav">
				<li><a data-scroll href="{% url 'home' %}">HOME</a></li>
				<li><a data-scroll href="{% url 'main_diary' %}" >DIARY</a></li>
				<li><a data-scroll href="{% url 'mypage' %}">MYPAGE</a></li>
				<li><a data-scroll href="{% url 'logout' %}">LOGOUT</a></li>
			</ul>
		</nav>
		<!-- <div class="container"> -->
			<div class="header-info">
				<!-- <h1>Moderno</h1> -->
				<div class="rainbow"></div>
				<p><strong>{{username}}</strong>님 안녕하세요!</p>
				<a href="{% url 'main_diary' %}" class="btn btn-primary">DIARY</a><br><br>
				<a href="{% url 'logout' %}">LOGOUT</a>
			</div>
		<!-- </div> -->
	</div>
    {% endif %}
	<!-- Footer start -->
	<footer>
		<div class="footer">
			<div class="row">
				<!-- <div class="col-md-8"> -->
					<p>HUFS CD <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">Victory Code</a>
</p>
				<!-- </div> -->
				<!-- <div class="col-md-4">
					<ul class="social-icons">
						<li><a href=""><i class="fa fa-facebook"></i></a></li>
						<li><a href=""><i class="fa fa-twitter"></i></a></li>
						<li><a href=""><i class="fa fa-dribbble"></i></a></li>
						<li><a href=""><i class="fa fa-behance"></i></a></li>
						<li><a href=""><i class="fa fa-pinterest"></i></a></li>
					</ul>
				</div> -->
			</div>
		</div>
	</footer>
	<!-- Footer end  -->

	<!-- Load jQuery -->
	<script type="text/javascript" src="../../static/js/jquery-1.11.2.min.js"></script>

	<!-- Load Booststrap -->
	<script type="text/javascript" src="../../static/js/bootstrap.js"></script>

	<script type="text/javascript" src="../../static/js/smooth-scroll.js"></script>

	<!-- Load custom js for theme -->
	<script type="text/javascript" src="../../static/js/app.js"></script>
    {% endblock %}
</body>
</html>