<!DOCTYPE html>
{% extends 'home.html' %}

{% block content %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h4>날짜: {{diary.pub_date}}</h4>
    <h4>제목: </h4>
    <p>{{diary.title}}</p>
    <h4>본문: </h4>
    <p>{{diary.text}}</p>
    <h4>감정: </h4>
    <p>{{diary.sentiment}}</p>

    <a href="{% url 'edit_diary' diary_id=diary.id %}"><button type="button" >수정하기</button></a>
    <a href="{% url 'delete_diary' diary_id=diary.id %}"><button type="button" >삭제하기</button></a><br>
    <a href="{% url 'main_diary' %}">돌아가기</a><br>

{% endblock %}
</body>
</html>