<!DOCTYPE html>
{% extends 'home.html' %}
{% load static %}
{% block content %}
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
{% if validity == 0 %}
    <script type="text/javascript">
    alert("로그인이 필요합니다.");
    </script>
    <script type="text/javascript">
    location.href="{% url 'login' %}";
    </script>
{% endif %}


<a href="{% url 'save_diary' %}">일기 작성</a><br><br>

{% for diary in diaries %}
<a href="{% url 'view_diary' diary_id=diary.id %}">{{diary.title}}</a><br>
{% endfor %}

  <div class="calendar">
    <div class="header">
      <div class="year-month"></div>
      <div class="nav">
        <button class="nav-btn go-prev" onclick="prevMonth(); return false;">&lt;</button>
        <button class="nav-btn go-today" onclick="goToday(); return false;">Today</button>
        <button class="nav-btn go-next" onclick="nextMonth(); return false;">&gt;</button>
      </div>
    </div>
    <div class="main">
      <div class="days">
        <div class="day">일</div>
        <div class="day">월</div>
        <div class="day">화</div>
        <div class="day">수</div>
        <div class="day">목</div>
        <div class="day">금</div>
        <div class="day">토</div>
      </div>
      <div class="dates"></div>
    </div>
  </div>
  <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
</body>
</html>