<!DOCTYPE html>
{% extends 'home.html' %}
{% load static %}

{% block content %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>회원가입 - 마음반짝이</title>

	<!-- Load fonts -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

	<!-- Load css styles -->
	<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../../static/css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="../../static/css/style.css" />
</head>
<body>
    <section id="services">
		<a href="{% url 'home' %}" class="logo">
			<img src="{% static '/img/lightbulb.png' %}" width=60px height=60px style="margin-top:5px; display:block; margin:0px auto;">
		</a>
		<a href="" class="menu-toggle" id="nav-expander"><i class="fa fa-bars"></i></a>
		<nav class="menu">
			<a href="#" class="close"><i class="fa fa-close"></i></a>
			<h3>Menu</h3>
			<ul class="nav">
				<li><a data-scroll href="{% url 'home' %}">HOME</a></li>
				<li><a data-scroll href="{% url 'login' %}">DIARY</a></li>
				<li><a data-scroll href="{% url 'login' %}">MYPAGE</a></li>
				<li><a data-scroll href="{% url 'login' %}">LOGIN</a></li>
			</ul>
		</nav>
	</section>
    <section id="contact">
        <div class="container">
            <header>
				<h2>SIGN UP</h2>
				<p>회원가입
				</p>
			</header>
            <form class="row" method="POST" action="{% url 'signup' %}">
                {% csrf_token %}
                <div class="form-group col-md-12">
					<input name="username" type="text" placeholder="ID" class="form-control" />
				</div>
                <div class="form-group col-md-12">
					<input name="password1" type="password" placeholder="PASSWORD" class="form-control" />
				</div>
                <div class="form-group col-md-12">
					<input name="password2" type="password" placeholder="VERIFY PASSWORD" class="form-control" />
				</div>
                <div class="form-group col-md-12">
					<button class="btn btn-lg btn-primary" type="submit">SUBMIT</button>
				</div>
                {% if validity == 0 %}
                <script type="text/javascript">
                    alert("입력한 비밀번호가 동일하지 않습니다.");
                    </script>
                    <script type="text/javascript">
                    location.href="{% url 'signup' %}";
                    </script>
                {% endif %}

                {% if registered == 1 %}
                <script type="text/javascript">
                alert("이미 등록된 회원입니다.");
                </script>
                <script type="text/javascript">
                location.href="{% url 'signup' %}";
                </script>
                {% endif %}

                {% if filled == 0 %}
                <script type="text/javascript">
                alert("모든 칸을 채워야 합니다.");
                </script>
                <script type="text/javascript">
                location.href="{% url 'signup' %}";
                </script>
                {% endif %}
            </form>
            <a href="{% url 'home' %}">돌아가기</a><br>
        </div>
    </section>
    <!-- Footer start -->
    <footer>
        <div class="footer">
            <div class="row">
                <!-- <div class="col-md-8"> -->
                    <p>HUFS CD <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">Victory Code</a>
    </p>
                <!-- </div> -->
                <!-- <div class="col-md-4">
                    <ul class="social-icons">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                        <li><a href=""><i class="fa fa-behance"></i></a></li>
                        <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </footer>
    <!-- Footer end  -->

    <!-- Load jQuery -->
    <script type="text/javascript" src="../../static/js/jquery-1.11.2.min.js"></script>

    <!-- Load Booststrap -->
    <script type="text/javascript" src="../../static/js/bootstrap.js"></script>

    <script type="text/javascript" src="../../static/js/smooth-scroll.js"></script>

    <!-- Load custom js for theme -->
    <script type="text/javascript" src="../../static/js/app.js"></script>
</body>
{% endblock %}
</html>